Source: ros-galactic-rmw-implementation
Section: misc
Priority: optional
Maintainer: Alejandro Hernandez Cordero <alejandro@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-galactic-ament-cmake, ros-galactic-ament-cmake-gtest, ros-galactic-ament-lint-auto, ros-galactic-ament-lint-common, ros-galactic-performance-test-fixture, ros-galactic-rcpputils, ros-galactic-rcutils, ros-galactic-rmw, ros-galactic-rmw-connextdds, ros-galactic-rmw-cyclonedds-cpp, ros-galactic-rmw-fastrtps-cpp, ros-galactic-rmw-fastrtps-dynamic-cpp, ros-galactic-rmw-implementation-cmake, ros-galactic-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-rmw-implementation
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-galactic-rcpputils, ros-galactic-rcutils, ros-galactic-rmw-implementation-cmake, ros-galactic-ros-workspace, ros-galactic-rmw-cyclonedds-cpp | ros-galactic-rmw-connextdds | ros-galactic-rmw-fastrtps-cpp
Description: The decision which ROS middleware implementation should be used for C++.
